on:
    push:
        branches:
            - {{cookiecutter.github_default_branch}}
    pull_request:
        branches:
            - {{cookiecutter.github_default_branch}}
{% raw %}
name: macOS build
jobs:
    test-macOS:
        runs-on: ${{ matrix.os }}
        name: ${{ matrix.os }} (${{ matrix.python-version}})
{% endraw %}
        strategy:
            fail-fast: false
            matrix:
              os: ["macOS-latest"]
              python-version: ["{{cookiecutter.python_version}}"]
{% raw %}
        steps:
          - name: Checkout code
            uses: actions/checkout@v3
      
          - name: Set up Python
            uses: actions/setup-python@v4
            with:
              python-version: ${{ matrix.python-version}}
          - name: Install GDAL
            run: |
              brew install gdal
          - name: Test GDAL installation
            run: |
              gdalinfo --version
          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install --no-cache-dir Cython
                pip install -r requirements.txt
                pip install .
{% endraw %}