on:
    push:
        branches:
            - {{ cookiecutter.github_default_branch }}
    pull_request:
        branches:
            - {{ cookiecutter.github_default_branch }}

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                  auto-activate-base: true
                  python-version: "{{cookiecutter.python_version}}"
{% raw %}
            - name: Install GDAL
              run: conda install -c conda-forge gdal --yes
            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --no-cache-dir Cython
                  pip install -r requirements.txt
                  pip install .
{% endraw %}